{%extends "blank.html"%}
{%block content%}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<div id="wrapper">
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="d-flex">
            <a href="/"><i class="fa fa-arrow-left"></i></a>    
        </div>
        <div class="d-sm-flex align-items-center justify-content-center mb-4 align-items-center">
            <h1 class="h3 mb-0 text-gray-800">Ticket Number {12192}</h1>
        </div>

        <div class="row">

            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Date</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">3/4/2500</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Period</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">10</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tasks Card Example -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Subject</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Biomolecular Quantumn Chemistry</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Recipient</div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">Oscar Jepsen</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-comments fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-2 mb-4 bg-gradient-secondary px-0">
        </div>

        <div class="row">
            <div class="col-8">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Supplemental Materials</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Card Body -->
                    <div class="card-body">
                        <img class="img-fluid" src="https://buffer.com/cdn-cgi/image/w=1000,fit=contain,q=90,f=auto/library/content/images/size/w1200/2023/10/free-images.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card shadow mb-4" style="height:40vw">
                    <!-- Card Header - Dropdown -->
                    <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                        <h6 class="m-0 font-weight-bold text-primary">Dropdown Card Example</h6>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body overflow-auto">
                        <div id="chat-messages" class="container-fluid">

                        </div>
                    </div>
                    <div class="card-footer px-0">
                        <div class="col-12 w-auto mx-0">
                            <div class="d-flex justify-content-center mx-0">
                                <textarea style="resize:none;" type="text" class="form-control ml-0 mr-2" placeholder="Example input" aria-label="Example input" aria-describedby="send-button" id="message" rows="1"></textarea>
                                <button class="btn btn-primary pb-0" type="button" id="send-button" data-mdb-ripple-color="dark">
                                    <i class="material-icons mb-0">&#xe163;</i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<script>
    const socket = io({autoConnect: true});

    // also a keyword connect
    socket.on("connect", function() {
        socket.emit("user_join", username);
    })

    document.getElementById("send-button").addEventListener("click", function () {
        send_message()
    })

    document.getElementById("message").addEventListener("keyup", function (event) {
        if (event.key == 'Enter'){
            send_message()
        }
    })

    function send_message(){
        let message = document.getElementById("message").value;
        if (message != 0){
            socket.emit("new_message", message);
            document.getElementById("message").value = "";
        }
    }

    //new function idea:
    //create a div, and create a flex row for each image
    //if sent by the user logged into this account, make it blue, and align to the right
    //else make it gray and align to the right
    socket.on("chat", function(data) {
        let container = document.getElementById("chat-messages");
        let row = document.createElement("div");
        row.classList=['row align-items-center bg-primary']
        let box = document.createElement("div")
        box.classList=['h5 text-white p-2']
        box.appendChild(document.createTextNode(data["username"] + ": " + data["message"]));
        row.appendChild(box)
        container.appendChild(row);
    })
</script>
<!-- End of Main Content -->

<!-- Footer -->

{%endblock%}