{% extends 'blank.html' %}
{%set user_name = username%}
{%set active_page='user_managing'%}
{% block content %}

<table class = 'col-12 table'>
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Dates
            </th>
            <th>
                Total Hours
            </th>
            <th>
                
            </th>
        </tr>
    </thead>
    <tbody>
        {% for check in hours_to_approve %}
        <tr>
            <td>
                {{tutors[loop.index0]}}
            </td>
            <td>
                {{check.start_date}} to {{check.end_date}}
            </td>
            <td>
                {{hours_worth[loop.index0]}}
            </td>
            <td>
                <yes class="p-2 bg-primary" style="border-radius:4px">
                    <a href="{{ url_for('view', id=check.id) }}" class="text-white text-decoration-none">Set now!</a>
                </yes>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}