{% extends 'blank.html' %}
{%set active_page='find_session'%}
{% block content %}
<style>
    .custom-checkbox .form-check-input {
        width: 1.5rem;
        height: 1.5rem;
        transition: all 0.3s ease;
    }
    .custom-checkbox .form-check-input:checked {
        background-color: #007bff;
        border-color: #007bff;
        transform: scale(1.2);
    }
    .custom-checkbox .form-check-input:focus {
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }
    .custom-checkbox .form-check-label {
        padding-left: 0.5rem;
        font-size: 1.25rem;
    }
    .scrollable-container {
        height: 60vh;
        overflow-y: auto;
    }
    .fixed-top-button {
        position: sticky;
        top: 0;
        background: white;
        z-index: 1000;
        padding-top: 1rem;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <form action="/choose_classes/{{id}}" method="POST">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <a href="/user_managing"><i class="fa fa-arrow-left"></i></a>
                    <div class="form-group m-2">
                        <button type="submit" class="btn btn-primary btn-lg py-1 px-2">Confirm</button>
                    </div>
                </div>
                <div class="scrollable-container">
                    {% for class_name in available_classes %}
                        <div class="card shadow mb-3 mx-5">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="h1 m-0">
                                        {{ class_name }}
                                    </div>
                                    <div class="form-check custom-checkbox m-2 d-flex align-items-center">
                                        <input class="form-check-input" type="checkbox" {{checked[loop.index0]}} id="{{ class_name }}" name="{{ class_name }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}