{%extends "blank.html"%}
{%set active_material = 0%}
{%block content%}
<style>
    .iZShRb {
        box-sizing: border-box;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: left;
        vertical-align: top;
        display: inline-block;
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;
        margin-top: 0px;
        padding-top: 0px;
    }

    .KOWbK {
        position: relative;
        -webkit-transition: 0.1s all ease;
        transition: 0.1s all ease;
        width: calc((100% + 4px) / 10 - 4px);
        color: rgb(17, 17, 17);
        background: transparent;
        border-radius: 4px;
        border: 1px solid;
        border-color: rgba(17, 17, 17, 0.2);
    }

    .hCmtez {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: left;
        margin-left: -10px;
        margin-right: -10px;
    }
    .KOWbK:not(:last-child) {
        margin-right: 2px;
    }
    .caxFfK {
        position: absolute;
        cursor: pointer;
        margin: 0;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
    input[type="radio" i] {
        background-color: initial;
        cursor: default;
        appearance: auto;
        box-sizing: border-box;
        margin: 3px 3px 0px 5px;
        padding: initial;
        border: initial;
    }
    .kCOBUX {
        width: 100%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 15px;
        font-weight: normal;
        font-style: normal;
        line-height: 20px;
        padding: 15px 0;
    }
</style>
<div class=" text-center mt-5 ">

    <h1 >Feedback Form</h1>
        
    
</div>

<div class="row">
  <div class="col-lg-7 mx-auto">
    <div class="card mt-2 mx-auto p-4 bg-light">
        <div class="card-body bg-light">
   
            <form id="contact-form" role="form" action="/completion_form?type={{1}}&id={{id}}" method = 'POST'>
                <!-- <div class="controls"> -->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group hCmtez">
                                <div class="NumberScale__Container-sc-f4rnzk-2 kyRzAf"><div role="radiogroup" aria-required="false" class="NumberScale__Numbers-sc-f4rnzk-3 faiKxA">
                                    <label for="form_email">How well did your tutor tutor?</label><br>
                                    {% for i in range(1,11)%}
                                    <label class="NumberScale__NumberContainer-sc-f4rnzk-4 KOWbK">
                                    <input type="radio" class="NumberScale__Input-sc-f4rnzk-5 caxFfK" value="{{i}}">
                                        <div class="NumberScale__NumberLabel-sc-f4rnzk-6 kCOBUX">
                                            {{i}}
                                        </div>
                                    </label>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {% if type == '1'%}
                                <label for="form_need">Do you understand {{'subect'}} better?</label>
                                <select id="form_need" name="personal_rating" class="form-control" required="required" data-error="Please specify your need.">
                                    <option value="" selected disabled>--Select An Option--</option>
                                    <option value = '1'>Much better</option>
                                    <option value = '2'>A bit better</option>
                                    <option value = '3'>About the same</option>
                                    <option value = '4'>Some How Worse</option>
                                </select>
                                {% else %}
                                <label for="form_need">Did your student want to learn?</label>
                                <select id="form_need" name="personal_rating" class="form-control" required="required" data-error="Please specify your need.">
                                    <option value="" selected disabled>--Select An Option--</option>
                                    <option value = '1'>They were eager to</option>
                                    <option value = '2'>They paid attention</option>
                                    <option value = '3'>They seemed unintrested</option>
                                    <option value = '4'>They left early</option>
                                </select>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="form_time">Was your {% if type == "1"%}tutor{% else %}student{% endif %} on time?</label>
                                <select id="form_time" name="on_time" class="form-control" required="required" data-error="Please specify your need.">
                                    <option value="" selected disabled>--Select An Option--</option>
                                    <option value = '1'>They were early</option>
                                    <option value = '2'>They were on time</option>
                                    <option value = '3'>They were a bit late (1-2 mintues)</option>
                                    <option value = '4'>They were very late</option>
                                    <option value = '5'>They didn't show up</option>
                                </select>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="feedback_text">Do you have any feedback for your {% if type == "1"%}tutor{% else %}student{% endif %}?</label>
                                <textarea id="feedback_text" name="message" class="form-control" placeholder="Write your feedback here." rows="4" required="required" data-error="Please, leave us a message."></textarea>
                            </div>

                        </div>
                    </div>


                    <div class="col-md-12">
                        <div class="d-flex justify-content-center mx-4 mt-3 mb-3 mb-lg-4">
                            <button type="submit" class="btn btn-primary btn-lg">Submit Feedback</button>
                        </div>
                    
                    </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.8 -->
</div>
<script src="static/assets/vendor/jquery/jquery.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/assets/js/sb-admin-2.min.js"></script>
<script src="static/assets/vendor/jquery/jquery.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/assets/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="static/assets/vendor/chart.js/Chart.min.js"></script>

<!-- Page level custom scripts -->
<script src="static/assets/js/demo/chart-area-demo.js"></script>
<script src="static/assets/js/demo/chart-pie-demo.js"></script>
<script src="static/assets/js/demo/chart-bar-demo.js"></script>
<!-- Bootstrap core JavaScript-->
<script src="static/assets/vendor/jquery/jquery.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/assets/js/sb-admin-2.min.js"></script>
<!-- /.row-->
{% endblock %}