{% extends 'blank.html' %}
{%set user_name = username%}
{%set active_page='dashboard'%}
{% block content %}
<!-- 
<div class="carousel">
    <div class="carousel-inner">
      <div class="item active">
        <div class="container">
          <blockquote>Most people are other people. Their thoughts are someone else's opinions, their lives a mimicry, their passions a quotation.</blockquote>
          <p class="author">Oscar Wilde</p>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <blockquote>Do something every day that you don't want to do. This is the golden rule for acquiring the habit of doing your duty without pain.</blockquote>
          <p class="author">Mark Twain</p>
        </div>
      </div>
      <div class="item">
        <div class="container">
          <blockquote>The worst sin towards our fellow creatures is not to hate them, but to be indifferent to them. That's the essence of inhumanity.</blockquote>
          <p class="author">George Bernard Shaw</p>
        </div>
      </div>
    </div>
    <div class="carousel-control left">
      <div class="arrow left"></div>
    </div>
    <div class="carousel-control right">
      <div class="arrow right"></div>
    </div>
    <ol class="carousel-indicators">
      <li class="active"></li>
      <li></li>
      <li></li>
    </ol>
</div> -->
  
<!-- <style>
    body {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  background-color: #1E88E5;
}

.carousel {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 90px 0;
  text-align: center;
  background-color: #1E88E5;
  transform: translate(-50%, -50%);
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner > .item {
  position: relative;
  display: none;
  animation: 0.5s ease-in-out;
}

.carousel-inner > .active,
.carousel-inner > .next {
  display: block;
}

.carousel-inner > .next {
  position: absolute;
  top: 0;
  width: 100%;
}

.carousel-inner > .to-left {
  animation-name: left;
}

.carousel-inner > .from-right {
  animation-name: right;
}

.carousel-inner > .to-right {
  animation-name: right;
  animation-direction: reverse;
}

.carousel-inner > .from-left {
  animation-name: left;
  animation-direction: reverse;
}

.container {
  margin: 0 auto;
}

blockquote {
  padding: 10px 20px;
  margin: 30px 90px;
  font-size: 32px;
}

.author {
  margin: 0;
  opacity: 0.5;
}

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  cursor: pointer;
}

.carousel-control.right {
  right: 0;
  left: auto;
}

.carousel-control > .arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNiAyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+QXJyb3c8L3RpdGxlPjxwYXRoIGQ9Ik0yNS42IDEwLjk3NGwtOC41MyA4LjYyYTEuMzYgMS4zNiAwIDAgMS0xLjkzNS4wMDMgMS4zODcgMS4zODcgMCAwIDEtLjAwMi0xLjk1bDYuMjAxLTYuMjY4SDEuMzY4QTEuMzc0IDEuMzc0IDAgMCAxIDAgMTBjMC0uNzYyLjYxMy0xLjM4IDEuMzY4LTEuMzhoMTkuOTY2bC02LjItNi4yNjdhMS4zODcgMS4zODcgMCAwIDEgLjAwMS0xLjk1IDEuMzYgMS4zNiAwIDAgMSAxLjkzNi4wMDJsOC41MyA4LjYyMWMuNTMyLjUzOC41MzIgMS40MSAwIDEuOTQ4IiBmaWxsPSIjRkZGRkZGIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz48L3N2Zz4=") center center no-repeat;
  background-size: 26px 20px;
  opacity: 0.6;
  transform: translateY(-50%);
}

.carousel-control > .arrow:hover {
  opacity: 0.8;
}

.carousel-control > .arrow.left {
  transform: translateY(-50%) rotate(180deg);
}

.carousel-control > .arrow.right {
  right: 50%;
}

.carousel-indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  padding-left: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%);
}

.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  cursor: pointer;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
}

.carousel-indicators li.active {
  background-color: #FFFFFF;
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}
</style> -->
<!-- Begin Page Content -->
<div class="container-fluid mr-0 pr-0">

    <!-- Page Heading -->
    <!-- the "custom-progress-bar" class can be added to make this into a custom progress bar -->
    <div class="row align-items-center justify-content-center">
        <div class="h5 font-weight-bold text-primary" style="font-size: 3vw;">Community Service Hours: <span class="text-{{color}}">{{current_user.hours_of_service}}</span></div>
    </div>
    <div class="progress mb-4 bg-gray-600 rounded-pill" style="height:5vw">
        <div class="progress-bar bg-{{color}} progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{current_user.hours_of_service*100/40}}" style="width:{{current_user.hours_of_service*100/40}}%" aria-valuemin="0" aria-valuemax="100">
            
        </div>
    </div>
    <div class="row py-2 mb-4 bg-gradient-secondary px-0">
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}   
    <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard: Welcome {{username}}</h1>
    </div> -->

    <!-- Content Row -->
    <div class="row px-0">
        <div class="col-xl-8 col-lg-8 pr-0">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="m-0 font-weight-bold text-primary">Upcoming Teaching Sessions</h6>
                        </div>
                        <div class="col-6">
                            <h6 class="m-0 font-weight-bold text-primary">Upcoming Learning Sessions</h6>
                        </div>
                    </div>
                </div>
                <div class="card-body align-items-center justify-content-center" style="min-height: 70vh;">
                    <div class="row">
                        <div class="col-6">
                            {%if sessions%}
                            <div class="table-responsive">
                                <table class="table" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Start</th>
                                            <th>End</th>
                                            <th>Period</th>
                                            <th>Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for session in sessions%}
                                            <tr>
                                                <td>{{session.start_time.strftime("%H:%M")}}</td>
                                                <td>{{session.end_time.strftime("%H:%M")}}</td>
                                                <!-- <td>{User.query.get(session.tutor).username}}</td> --> <td>to be added</td>
                                                <td>{{session.date.strftime("%B")}} {{session.date.strftime("%d")}}</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                        style = "width: 2vw;
                                                        height: 2vw;
                                                        border-radius: 20px;
                                                        background-color: #007bff;
                                                        border: none;
                                                        color: white;
                                                        font-size: 1.2em;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        cursor: pointer;">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="{{ url_for('details', identification=session.id) }}">Messages</a>
                                                            <a class="dropdown-item" href="/complete_session/{{ session.id }}">Mark as Done</a>
                                                            <a class="dropdown-item" href="/delete_session/{{ session.id }}/2">Remove Session</a>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                            {%else%}
                            <div class="text-center text-primary h5">
                                No current appointments
                            </div>
                            {%endif%}
                        </div>
                        <div class="col-6">
                            {%if student_sessions%}
                            <div class="table-responsive">
                                <table class="table" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Start</th>
                                            <th>End</th>
                                            <th>Period</th>
                                            <th>Date</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for session in student_sessions%}
                                            <tr>
                                                <td>{{session.start_time.strftime("%H:%M")}}</td>
                                                <td>{{session.end_time.strftime("%H:%M")}}</td>
                                                <!-- <td>{User.query.get(session.tutor).username}}</td> --> <td>to be added</td>
                                                <td>{{session.date.strftime("%B")}} {{session.date.strftime("%d")}}</td>
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                        style = "width: 2vw;
                                                        height: 2vw;
                                                        border-radius: 20px;
                                                        background-color: #007bff;
                                                        border: none;
                                                        color: white;
                                                        font-size: 1.2em;
                                                        display: flex;
                                                        align-items: center;
                                                        justify-content: center;
                                                        cursor: pointer;">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                            <a class="dropdown-item" href="{{ url_for('details', identification=session.id) }}">Messages</a>
                                                            <a class="dropdown-item" href="/complete_session/{{ session.id }}">Mark as Done</a>
                                                            <a class="dropdown-item" href="/delete_session/{{ session.id }}/2">Remove Session</a>
                                                        </div>
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>

                            {%else%}
                            <div class="text-center text-primary h5">
                                No current appointments
                            </div>
                            {%endif%}
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 pr-0">
            <div class="card shadow mb-3" style="height: 40vh;">
                <div class="card-header p-1">
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-0 my-md-0 mw-100 navbar-search w-100">
                        <div class="input-group w-100">
                            <input type="text" class="form-control border-0 small text-primary" placeholder="Search messages..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-body d-flex">
                    <table class="table-responsive table">
                        <tbody>
                            {%for _ in range(9)%}
                            <tr>
                                <td>
                                    <div class="row">
                                        <div class="col-3 d-flex align-items-center justify-content-center">
                                            <img class="img-profile rounded-circle"
                                                src="https://upload.wikimedia.org/wikipedia/commons/2/27/Red_square.svg" 
                                                 style="width: 100%; height:auto;">
                                        </div>
                                        <div class="col-9">
                                            <div class="row d-flex justify-content-between">
                                                <span class="mr-2 d-none d-lg-inline text-gray-900">Username</span>
                                                <div class="rounded-circle bg-danger py-0 px-2">
                                                    <span class="text-white">1</span>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">The message preview goes here</span>

                                            </div>
                                            <!-- <span class="mr-2 d-none d-lg-inline text-gray-900">Username</span><br>
                                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">The message preview goes here</span> -->
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2 mb-4 bg-gradient-secondary px-0">
    </div>
    <div class="row p-1 align-items-center">

        <a class="col-xl-3 col-md-6 mb-4" href = "/scheduler">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center h-100">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Set Schedule</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>

        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center h-100">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Check Hours</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        
        <a class="col-xl-3 col-md-6 mb-4" href = "/find_session">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center h-100">
                        <div class="col mr-2">
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Find Sessions</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- <script>
    var items = document.querySelectorAll('.carousel .item');
var dots = document.querySelectorAll('.carousel-indicators li');
var currentItem = 0;
var isEnabled = true;

function changeCurrentItem(n) {
	currentItem = (n + items.length) % items.length;
}

function nextItem(n) {
	hideItem('to-left');
	changeCurrentItem(n + 1);
	showItem('from-right');
}

function previousItem(n) {
	hideItem('to-right');
	changeCurrentItem(n - 1);
	showItem('from-left');
}

function goToItem(n) {
	if (n < currentItem) {
		hideItem('to-right');
		currentItem = n;
		showItem('from-left');
	} else {
		hideItem('to-left');
		currentItem = n;
		showItem('from-right');
	}
}

function hideItem(direction) {
	isEnabled = false;
	items[currentItem].classList.add(direction);
	dots[currentItem].classList.remove('active');
	items[currentItem].addEventListener('animationend', function() {
		this.classList.remove('active', direction);
	});
}

function showItem(direction) {
	items[currentItem].classList.add('next', direction);
	dots[currentItem].classList.add('active');
	items[currentItem].addEventListener('animationend', function() {
		this.classList.remove('next', direction);
		this.classList.add('active');
		isEnabled = true;
	});
}

document.querySelector('.carousel-control.left').addEventListener('click', function() {
	if (isEnabled) {
		previousItem(currentItem);
	}
});

document.querySelector('.carousel-control.right').addEventListener('click', function() {
	if (isEnabled) {
		nextItem(currentItem);
	}
});

document.querySelector('.carousel-indicators').addEventListener('click', function(e) {
	var target = [].slice.call(e.target.parentNode.children).indexOf(e.target);
	if (target !== currentItem && target < dots.length) {
		goToItem(target);
	}
});
</script> -->
  


{% endblock %}