{% extends 'blank.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <form action = '/session_manager' method = 'POST'>
                <div class="form-group mb-2 mx-0 px-0">
                    <label for="exampleDropdown">Select sesssion subject:</label>
                    <select class="form-control" id="exampleDropdown" name = "type" required onchange="showDiv('showme', this)">
                        <option value="">Select Type</option>
                        <option value="0">Find Session</option>
                        <option value="1">Add Session</option>
                    </select>
                </div>
                <div class="form-group mb-2 mx-0 px-0">
                    <label for="">Select session subject:</label>
                    <input type="text" class="form-control form-control-user" name="subject" placeholder="Enter session subject">
                </div>
                <div class="form-group mx-0 px-0 mb-2">
                    <label for="">Select session date:</label>
                    <input type="date" class="form-control form-control-user" name="date">

                </div>
                <div class="form-group mx-0 px-0 mb-2">
                    <label for="">Select session period:</label>
                    <input type="number" class="form-control form-control-user" name="period">

                </div>
                <div id="showme" style="display: none">
                    <div class="form-group">
                        <label for="">Start Time</label>
                        <input type="time" class="form-control form-control-user" name="start_time">
                    </div>
                    <div class="form-group">
                        <label for="">End Time</label>
                        <input type="time" class="form-control form-control-user" name="end_time">
                    </div>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-primary btn-lg">Find Available Tutors</button>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
        <div class="col-7">
            <table class="table" id="dataTable">
                <thead>
                    <tr>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Tutor Name</th>
                        <th>Subject</th>
                        <th>Schedule Session</th>
                    </tr>
                </thead>
                {% for user in users %}
                {% if date not in user.schedule_data[day]['times'].split(' ') %}
                <tbody>
                    <tr>
                        <td>{{user.schedule_data[day]['start_time']}}</td>
                        <td>{{user.schedule_data[day]['end_time']}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.schedule_data[day]['subject']}}</td>
                        <td><a href="/book_session/{{user.id}}/{{date}}">Book Session</a></td>
                    </tr>
                </tbody>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<script>
function showDiv(divId, element)
{
    document.getElementById(divId).style.display = element.value == 1 ? 'block' : 'none';
}
</script>
{% endblock %}