{%extends "blank.html"%}
{%set active_material = 0%}
{%block content%}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center mb-4">
                <h1 class="h2">Reason For Cancellation</h1>
                <p class="lead">Please let us know if there were any problems</p>
            </div>
            <div class="card shadow-lg p-4">
                <div class="card-body text-center d-flex justify-content-center">
                    <form id="contact-form" role="form" action="/terminate_session?identification={{id}}" method="POST">
                        <div class="form-row mb-2 d-flex justify-content-center">
                            <div class="form-group col-9">
                                <label for="cancel_reason">What is the reason for your cancellation?</label>
                                <select id="cancel_reason" name="cancel_reason" class="form-control" required>
                                    <option value="" selected disabled>--Select An Option--</option>
                                    <option value="1">Scheduling conflict with other tutors</option>
                                    <option value="2">Need to study for other tests</option>
                                    <option value="3">Not feeling it today</option>
                                    <option value="4">Prefer not to say</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mb-2 d-flex justify-content-center">
                            <div class="form-group col-9">
                                <label for="had_class">Have you had at least one class?</label>
                                <select id="had_class" name="had_class" class="form-control" required>
                                    <option value="" selected disabled>--Select An Option--</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-row mb-2 d-flex justify-content-center">
                            <div class="form-group col-9">
                                <label for="fill_form">Would you like to fill out an optional feedback form for your tutor?</label>
                                <select id="fill_form" name="fill_form" class="form-control" required>
                                    <option value="" selected disabled>--Select An Option--</option>
                                    <option value="1">Yes</option>
                                    <option value="0">No</option>
                                </select>
                            </div>
                        </div>
                       
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="static/assets/vendor/jquery/jquery.min.js"></script>
<script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="static/assets/vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="static/assets/js/sb-admin-2.min.js"></script>
{% endblock %}
