{%extends "blank.html"%}
{%set active_page = "messages"%}
{%set active_material = 0%}
{%block content%}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="d-flex fixed-top ml-3" style="margin-top:80px;z-index:0;">
    <a href="/appointment_overview?identification={{session.id}}" class="text-decoration-none text-reset remove" data-swup-animation="left" data-transition="true">
        <div class="d-flex justify-content-center align-items-center">
            <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                <i class="bi bi-arrow-left"></i>
            </div>
        </div>
    </a>
</div>

<div id="wrapper">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        
        <div class="d-block" id="messaging">
            <div class="flex-row d-flex justify-content-center">
                
                <div class="col-10">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <!-- Card Body -->
                        <div class="card-body position relative">
                            <div class="position-absolute" style="top: 5px; left: 5px;">
                                <div class="dropdown no-arrow">
                                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                         aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">
                                            Report
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div id="chat-messages" class="container-fluid" style="height: 68vh; overflow-y: auto;">
                                <!-- Set max-height and enable vertical scrolling -->
                                {%for message in messages%}
                                    {%if message['mine']%}
                                    <div class="d-flex justify-content-end mb-2 align-items-end">
                                        <div class="justify-content-end" style="max-width: 70%;">
                                            <small class="d-flex justify-content-end text-end mx-2" width="100%">{{message['sender']}}</small>
                                            <div class="rounded bg-primary text-white p-2 mx-2" style="max-width: 100%;">
                                                <!-- Message Content -->
                                                {{ message['message'] }}
                                            </div>
                                        </div>
                                        <!-- Profile Icon -->
                                        <img src="
                                        {%if my_image%}
                                            data:image/jpeg;base64,{{ my_image }}
                                        {%else%}
                                            static/assets/img/undraw_profile.svg
                                        {%endif%}
                                        " class="rounded-circle" alt="Profile Image" width="40" height="40">
                                    </div>
                                    
                                    {%else%}
                                    
                                    <div class="d-flex justify-content-start mb-2 align-items-end">
                                        <img src="
                                        {%if other_image%}
                                            data:image/jpeg;base64,{{ other_image }}
                                        {%else%}
                                            static/assets/img/undraw_profile.svg
                                        {%endif%}
                                        " class="rounded-circle" alt="Profile Image" width="40" height="40">

                                        <div class="justify-content-end" style="max-width: 70%;">
                                            <small class="d-flex justify-content-start text-end mx-2" width="100%">{{message['sender']}}</small>
                                            <div class="rounded bg-secondary text-white p-2 mx-2" style="max-width: 100%;">
                                                <!-- Message Content -->
                                                {{ message['message'] }}
                                            </div>
                                        </div>
                                    </div>
                                    {%endif%}
                                {%endfor%}
                            </div>
                        </div>
                        <div class="card-footer px-0">
                            <div class="col-12">
                                <div class="input-group">
                                    <textarea class="form-control mr-2" id="message" rows="1" placeholder="Type your message here..." style="resize: none;"></textarea>
                                    <div class="btn d-flex btn-primary py-0 align-items-center" type="button" id="send-button">
                                        <i class="material-icons">&#xe163;</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <script>
                        document.getElementById('message').addEventListener('input', function() {
                            this.style.height = 'auto';
                            this.style.height = (this.scrollHeight) + 'px';
                        });
                        </script>
                        
                    </div>
                </div>
            </div>
        </div>
        

    </div>
    <!-- /.container-fluid -->

</div>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>

<script>
    window.onload = scrollToBottom;
    function scrollToBottom() {
        var chatMessages = document.getElementById('chat-messages');
        chatMessages.scrollTo({
            top: chatMessages.scrollHeight,
            behavior: 'smooth'
        });
    }

    document.getElementById('message').addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
            event.preventDefault(); // Prevents newline from being added in the textarea
            send_message();
        }
    });

    // Event listener for send button click
    document.getElementById("send-button").addEventListener("click", function () {
        send_message();
    });
    function resetTextarea() {
        const textarea = document.getElementById("message");

        // Temporarily add a small amount of text
        textarea.value = "temporary";
        
        // Trigger a reflow/repaint
        textarea.style.height = 'auto'; // Adjust height to auto to recalculate the size
        textarea.style.height = `${textarea.scrollHeight}px`; // Set height based on scrollHeight

        // Clear the text and reset rows attribute
        setTimeout(() => {
            textarea.value = "";
            textarea.setAttribute("rows", "1");
            textarea.style.height = 'auto'; // Reset height to auto
        }, 0); // Delay to ensure the text is added and removed immediately
    }


    // Function to send a message
    function send_message(){
        // document.getElementById("message").setAttribute(rows,"1")
        
        let message = document.getElementById("message").value;
        if (message.trim() !== ""){
            socket.emit("new_chat_message", message, "{{ thiss.id }}","{{session.message_history_id}}","{{session.id}}");

            //resets the message
            document.getElementById("message").value = "";

            //displays the message sent on our end
            thing = `<div class="d-flex justify-content-end mb-2 align-items-end">
                                        <div class="justify-content-end" style="max-width: 70%;">
                                            <small class="d-flex justify-content-end text-end mx-2" width="100%">{{thiss.username}}</small>
                                            <div class="rounded bg-primary text-white p-2 mx-2" style="max-width: 100%;">
                                                ${message}
                                            </div>
                                        </div>
                                        <img src="
                                        {%if my_image%}
                                            data:image/jpeg;base64,{{ my_image }}
                                        {%else%}
                                            static/assets/img/undraw_profile.svg
                                        {%endif%}
                                        " class="rounded-circle" alt="Profile Image" width="40" height="40">
                                    </div>`  

            document.getElementById("chat-messages").insertAdjacentHTML('beforeend',thing);
            scrollToBottom();
            resetTextarea()
        }
    }

    function recieve_message(data){
        thing = `<div class="d-flex justify-content-start mb-2 align-items-end">
                                                    <img src="
                                                    {%if other_image%}
                                                        data:image/jpeg;base64,{{ other_image }}
                                                    {%else%}
                                                        static/assets/img/undraw_profile.svg
                                                    {%endif%}
                                                    " class="rounded-circle" alt="Profile Image" width="40" height="40">

                                                    <div class="justify-content-end" style="max-width: 70%;">
                                                        <small class="d-flex justify-content-start text-end mx-2" width="100%">${data['username']}</small>
                                                        <div class="rounded bg-secondary text-white p-2 mx-2" style="max-width: 100%;">
                                                            <!-- Message Content -->
                                                            ${data['message']}
                                                        </div>
                                                    </div>
                                                </div>`

        // Append the main container to a target element (e.g., the body)
        document.getElementById("chat-messages").insertAdjacentHTML('beforeend',thing);
        scrollToBottom();
        socket.emit("recieved_chat_message", "{{ thiss.id }}","{{session.message_history_id}}");
    }

    // Event listener for receiving chat messages
    //recieves from the "new_messages" route
</script>

<!-- Footer -->

{%endblock%}