{% extends "blank.html" %}
{% set active_page='view_appointments' %}
{% block content %}

<div class="d-flex justify-content-center">
    <div class="h1 mb-3 font-weight-bold text-center">
        View Confirmed Sessions
    </div>
</div>

<div class="container-fluid px-1 mx-0" style="min-height: 70vh;">
    <!-- Toggle Buttons -->
    <div class="flex-row d-flex justify-content-center px-0 mx-0">
        <div class="col-12 col-lg-8 bg-white px-lg-5 pt-4" style="height:70vh;overflow:auto">
            <div id="learning-sessions" class="card-container">
                {% if confirmed_sessions_where_student|length == 0 %}
                <div class="d-flex justify-content-center mb-3">
                    <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50%" height="" class="book_session mr-3 bold-img">
                </div>
                <div class="no-requests text-center h1">No sessions as a student.</div>
                {% else %}
                {% for session in confirmed_sessions_where_student %}
                <a href="/appointment_overview?identification={{session.id}}" class="text-decoration-none text-reset" data-transition="true" data-swup-animation="right">
                    <div class="card card-link mb-3">
                        <div class="card-body d-flex align-items-center py-2">
                            <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
                
                            <div class="d-block align-self-start" style="margin-top: 10px;">
                                <div class="h4 mb-0 font-weight-bold">Session for {{session.date}}</div>
                                <div class="h5 mt-1">Click here to view session!</div>
                            </div>
                
                            <div class="ml-auto">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                        <i class="bi bi-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>

            {% if type != 0 %}
            <div id="tutoring-sessions" class="card-container d-none">
                {% if confirmed_sessions_where_tutor|length == 0 %}
                <div class="d-flex justify-content-center mb-3">
                    <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50%" height="" class="book_session mr-3 bold-img">
                </div>
                <div class="no-requests text-center h1">No sessions as a tutor.</div>
                {% else %}
                {% for session in confirmed_sessions_where_tutor %}
                <a href="/appointment_overview?identification={{session.id}}" class="text-decoration-none text-reset" data-swup-animation="right" data-transition="true">
                    <div class="card card-link mb-3">
                        <div class="card-body d-flex align-items-center py-2">
                            <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
                
                            <div class="d-block align-self-start" style="margin-top: 10px;">
                                <div class="h4 mb-0 font-weight-bold">Session for {{session.date}}</div>
                                <div class="h5 mt-1">Click here to view session!</div>
                            </div>
                
                            <div class="ml-auto">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                        <i class="bi bi-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
                {% endif %}
            </div>
            
            {% endif %}
        </div>
    </div>
    {%if type == 1%}
    <div class="fixed-bottom pb-2 bg-white pt-3 pt-lg-2 remove container" style="z-index:0;">
        <div class="btn-group d-flex flew-row justify-content-center px-1" role="group" aria-label=" toggle button group">
            <label id="learning-sessions-btn" class="btn btn-toggle btn-outline-secondary col-6 col-lg-3 active" onclick="toggleView('learning-sessions')">Learning</label>
            
            <label id="tutoring-sessions-btn" class="btn btn-toggle btn-outline-secondary col-6 col-lg-3" onclick="toggleView('tutoring-sessions')">Teaching</label>
        </div>
        
    </div>
    {%endif%}
</div>

<script>
    function toggleView(viewId) {
    // Hide all views
    document.querySelectorAll('.card-container').forEach(function(container) {
        container.classList.add('d-none');
    });

    // Remove active class from all tabs
    document.querySelectorAll('.btn-toggle').forEach(function(button) {
        button.classList.remove('active');
    });

    // Show the selected view
    document.getElementById(viewId).classList.remove('d-none');

    // Add active class to the clicked tab
    document.getElementById(viewId + '-btn').classList.add('active');
    }
</script>
{% endblock %}