{% extends 'blank.html' %}
{%set user_name = username%}
{%set active_page='user_managing'%}
{% block content %}

<table class = 'col-12 table'>
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Role
            </th>
            <th>
                Submit
            </th>
        </tr>
    </thead>
    <tbody>
        {% for user in people %}
        <tr>
            <td>
            {{ user.username}}
            </td>
            <form action="/user_managing" method = 'POST'>
                <input type="number" value = {{user.id}} style = 'display:none' name = 'promoted_user' id = 'promoted_user'>
                <td>
                    <select id="role" name="role" class="form-control" required="required">
                        <option value="" selected disabled>--Select A Role--</option>
                        <option value = '0' {{"selected" if user.role == 0}}>Student</option>
                        <option value = '1' {{"selected" if user.role == 1}}>NHS Student</option>
                        <option value = '2' {{"selected" if user.role == 2}}>Teacher</option>
                        <option value = '3' {{"selected" if user.role == 3}}>Admin</option>
                    </select>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary btn-lg">Change Role</button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}