{% extends 'blank.html' %}
{%set user_name = username%}
{%set active_page='dashboard'%}
{% block content %}

<style>
    .border-bottom{
        vertical-align: middle;
    }



  
</style>
<style>
    .card-link{
        border-radius:10px
    }
    .card-link:hover div{
        cursor:pointer;
        background-color:#f8f9fa;
        opacity:.9;
    }

    .card-link2:hover img{
        cursor:pointer;
        background-color:#f8f9fa;
        opacity:.7;
    }
    .card-link:hover img{
        opacity:.6;
    }
    .bold-img{
        opacity:.7;
    }
    .nonbold-img{
        opacity:.85;
    }

</style>
<!-- Begin Page Content -->
<div class="container-fluid mx-0 px-0">

    <!-- Page Heading -->
    <!-- the "custom-progress-bar" class can be added to make this into a custom progress bar -->
    

    <!-- Content Row -->
    <div class="row flex-row d-none d-lg-flex d-md-flex justify-content-center">
        <div class="col-lg-12 col-md-11">
            <a href="/profile" class="text-decoration-none text-reset">
                <div class="card shadow mb-md-1 mb-lg-3 card-link">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="
                            {% if image_data %}
                            data:image/jpeg;base64,{{ image_data }}
                            {% else %}
                            static/assets/img/undraw_profile.svg
                            {% endif %}
                            " id="image" alt="Admin" class="rounded-circle" width="130vw" height="130vw">  
                            <div>
                                <h1 class="mt-2 ml-4 font-weight-bold">{{current_user.name}} {{current_user.last_name}}</h1>
                                <h3 class="mt-2 ml-4">Email: {{current_user.email}}</h3>
                                <h3 class="mt-2 ml-4">Status: Admin</h3>
                            </div>
                            <div class="ml-auto"> 
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                        <i class="bi bi-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12 d-lg-none">
            <hr>
        </div>
    </div>

    <div class="row mb-3 d-flex justify-content-center align-content-between">

        <div class="col-lg-7 col-md-11">
            <!-- THIS IS WHERE YOU PUT THE PATH FOR THE NEW FEATURE -->
            <a href="#" class="text-decoration-none text-reset">
            <a href="/approve_hours" class="text-decoration-none text-reset">
                <div class="card card-link mb-2">
                    <div class="row">
                        <div class="position-relative d-flex align-items-center justify-content-center py-3 col-lg-6 col-md-12">
                            <img src="static/assets2/img/notePad.png" class="img-fluid nonbold-img" width="100%" height="auto">
                            <div class="text-danger font-weight-bold top-0 end-0 m-2" style="position:absolute;background-color:transparent;font-size:9rem" >
                                {%if to_approve < 10%}
                                {{to_approve}}
                                {%else%}
                                9+
                                {%endif%}
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 mt-md-2 mx-md-4 mb-md-4 m-lg-0">
                            <div class="h1 mb-3 mt-2">
                                Approve Hours!
                            </div>
                            <div class="h4 mb-4">
                                {%if to_approve%}
                                You currently have <b class="text-primary">{{to_approve}}</b> sessions pending your review!

                                {%else%}
                                There are currently no sessions that need your attention. Yay!
                                {%endif%}
                            </div>
                            {%if to_approve%}
                            <yes class="p-2 bg-primary text-white" style="border-radius:4px">Set now!</yes>
                            {%endif%}
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-12 d-lg-none">
            <hr>
        </div>
        

        <div class="col-lg-5 col-md-11">
            <a href="/user_managing" class="text-decoration-none text-reset">
                <div class="card card-link mb-3 mt-2">
                    <div class="card-body d-flex align-items-center py-2">
                        <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
            
                        <div class="d-block align-self-start" style="margin-top: 10px;">
                            <div class="h4 mb-0 font-weight-bold">Manage Users!</div>
                            <div class="h5 mt-1">Change the statuses of teacher or student accounts</div>
                        </div>
            
                        <div class="ml-auto">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/tag_managing" class="text-decoration-none text-reset">
                <div class="card card-link mb-3">
                    <div class="card-body d-flex align-items-center py-2">
                        <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
            
                        <div class="d-block align-self-start" style="margin-top: 10px;">
                            <div class="h4 mb-0 font-weight-bold">Tag Managing</div>
                            <div class="h5 mt-1">Change the classes NHS students are permitted to teach</div>
                        </div>
            
                        <div class="ml-auto">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/feedback" class="text-decoration-none text-reset">
                <div class="card card-link mb-3">
                    <div class="card-body d-flex align-items-center py-2">
                        <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
            
                        <div class="d-block align-self-start" style="margin-top: 10px;">
                            <div class="h4 mb-0 font-weight-bold">View Feedback</div>
                            <div class="h5 mt-1">Ensure quality by viewing feedback from students on their tutors!</div>
                        </div>
            
                        <div class="ml-auto">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            
            
        </div>
        
    </div>
    
</div>

<script>
    // for messaging NEEDS UPDATING
    function update_dashboard(data){
      session_id = data['session_id']
      console.log(session_id)
      image = document.getElementById(`${session_id},image`)
      if (data['image_data']) {
        image.src = `data:image/jpeg;base64,${data['image_data']}`
      }
      else{
        image.src = "static/assets/img/undraw_profile.svg"
      }
      notification = document.getElementById(`${session_id},notification`)
      if (notification == null){
        element = `<div class="rounded-circle bg-danger py-0 px-2 mr-2">
                      <span class="text-white" id="${session_id},notification">1</span>
                  </div>`
        document.getElementById('secondary_notification').insertAdjacentHTML('beforeend',element)
      }
      else{
        console.log(String(parseInt(notification.innerText)))
        notification.innerText = String(parseInt(notification.innerText) + 1)
      }

      document.getElementById(`${session_id},sender`).innerText = data['username']
      document.getElementById(`${session_id},message`).innerText = data['message']
    }



</script>

{% endblock %}