{% extends 'blank.html' %}
{%set user_name = username%}
{%set active_page='dashboard'%}
{% block content %}

<style>
    .border-bottom{
        vertical-align: middle;
    }



  
</style>
<style>
    .card-link{
        border-radius:10px
    }
    .card-link:hover div{
        cursor:pointer;
        background-color:#f8f9fa;
        opacity:.9;
    }

    .card-link2:hover img{
        cursor:pointer;
        background-color:#f8f9fa;
        opacity:.7;
    }
    .card-link:hover img{
        opacity:.6;
    }
    .bold-img{
        opacity:.7;
    }
    .nonbold-img{
        opacity:.85;
    }

</style>
<!-- Begin Page Content -->
<div class="container-fluid mx-0 px-0">

    <!-- Page Heading -->
    <!-- the "custom-progress-bar" class can be added to make this into a custom progress bar -->
    

    <!-- Content Row -->
    <div class="row flex-row d-none d-lg-flex d-md-flex justify-content-center">
        <div class="col-lg-12 col-md-11">
            <a href="/profile" class="text-decoration-none text-reset">
                <div class="card shadow mb-md-1 mb-lg-3 card-link">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <img src="
                            {% if image_data %}
                            data:image/jpeg;base64,{{ image_data }}
                            {% else %}
                            static/assets/img/undraw_profile.svg
                            {% endif %}
                            " id="image" alt="Admin" class="rounded-circle" width="130vw" height="130vw">  
                            <div>
                                <h1 class="mt-2 ml-4 font-weight-bold">{{current_user.name}} {{current_user.last_name}}</h1>
                                <h3 class="mt-2 ml-4">Email: {{current_user.email}}</h3>
                                <h3 class="mt-2 ml-4">Status: {%if role==0%}Student{%else%}Peer Tutor{%endif%}</h3>
                            </div>
                            <div class="ml-auto"> 
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                        <i class="bi bi-arrow-right"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-12 d-lg-none">
            <hr>
        </div>
    </div>
    
   {%if role == 1%}
   <div class="row mb-3 d-flex justify-content-center align-content-between">
        <div class="col-md-11 col-sm-11 col-lg-5">
            <a href="#" class="text-decoration-none text-reset">
                <div class="card card-link2 text-bg-dark mb-3 text-dark shadow">
                    <img src="static/assets2/img/viewRequests.png" class="card-img" alt="...">
                    <div class="card-img-overlay d-flex align-items-end">
                        <div class="d-block align-self-end p-2 mt-2" style="opacity:.8;">
                            <div class="card-title h3 font-weight-bold mb-5 bg-white d-flex p-2" style="width:fit-content">View Requests</div>
                            <div class="card-text bg-white p-3">
                                <div class="h5 mb-4">
                                    Check on requests from students eager to learn from you! Accept requests to start earning volunteer hours!
                                </div>
                                <yes class="p-2 bg-primary text-white" style="border-radius:4px">Check now!</yes>
                            </div>
                        </div>
                        
                    </div>
                  </div>
            </a>
        </div>


        <div class="col-lg-7 col-md-11 col-sm-11">
            <a href="#" class="text-decoration-none text-reset">
                <div class="card card-link mb-3">
                    <img src="static/assets2/img/setAvailability.png" class="card-img-top nonbold-img">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold h4">Set availability</h5>
                        <p class="card-text h5 mb-4">Want to start tutoring? Let potential students know when you're available!</p>
                        <yes class="p-2 bg-primary text-white" style="border-radius:4px">Set now!</yes>
                    </div>
                </div>
            </a>
            <a href="/calendar" class="text-decoration-none text-reset">
                <div class="card card-link mb-3">
                    <div class="card-body d-flex align-items-center py-2">
                        <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
            
                        <div class="d-block align-self-start" style="margin-top: 10px;">
                            <div class="h4 mb-0 font-weight-bold">View Schedule</div>
                            <div class="h5 mt-1">Check for upcoming events!</div>
                        </div>
            
                        <div class="ml-auto">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>


    </div>
    <div class="row mb-3 d-flex justify-content-center align-content-between">
        <div class="col-md-12 d-lg-none">
            <hr>
        </div>
        <div class="col-lg-5 col-md-10 text-center">
            <div class="h1 mb-3">
                You're a Student Too!
            </div>
            <div class="h4">
                Being in NHS isn't all about helping and tutoring others. Everyone needs help at some point.
                <br><span class="font-weight-bold">Don't be afraid to book a session yourself!</span>
            </div>
        </div>
        <div class="col-md-12 d-lg-none mb-2">
            <hr>
        </div>
    </div>
    {%endif%}

    <div class="row mb-3 d-flex justify-content-center align-content-between">

        <div class="col-lg-7 col-md-11">
            <!-- THIS IS WHERE YOU PUT THE PATH FOR THE NEW FEATURE -->
            <a href="#" class="text-decoration-none text-reset">
                <div class="card card-link mb-2">
                    <img src="static/assets2/img/bookAppointment.png" class="card-img-top nonbold-img">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bold h4">Create an Appointment</h5>
                        <p class="card-text h5 mb-5">Can't find a good time? No problem! Make a general or personal request for an appointment at a time that works for you!</p>
                        <yes class="p-2 bg-primary text-white" style="border-radius:4px">Create now!</yes>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-md-12 d-lg-none">
            <hr>
        </div>

        <div class="col-lg-5 col-md-11">
            <a href="/find_session" class="text-decoration-none text-reset">
                <div class="card card-link mb-3 mt-2">
                    <div class="card-body d-flex align-items-center py-2">
                        <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
            
                        <div class="d-block align-self-start" style="margin-top: 10px;">
                            <div class="h4 mb-0 font-weight-bold">Book A Session!</div>
                            <div class="h5 mt-1">Find a time that works for you</div>
                        </div>
            
                        <div class="ml-auto">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="/view_appointments" class="text-decoration-none text-reset">
                <div class="card card-link mb-3">
                    <div class="card-body d-flex align-items-center py-2">
                        <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
            
                        <div class="d-block align-self-start" style="margin-top: 10px;">
                            <div class="h4 mb-0 font-weight-bold">View Sessions</div>
                            <div class="h5 mt-1">Check on the sessions you've booked!</div>
                        </div>
            
                        <div class="ml-auto">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            <a href="/calendar" class="text-decoration-none text-reset">
                <div class="card card-link mb-3">
                    <div class="card-body d-flex align-items-center py-2">
                        <img src="static/assets2/img/bookSessionIcon.png" alt="" width="50vw" height="50vw" class="book_session mr-3 bold-img">
            
                        <div class="d-block align-self-start" style="margin-top: 10px;">
                            <div class="h4 mb-0 font-weight-bold">View Schedule</div>
                            <div class="h5 mt-1">Check for upcoming events!</div>
                        </div>
            
                        <div class="ml-auto">
                            <div class="d-flex justify-content-center align-items-center">
                                <div class="rounded-circle border d-flex justify-content-center align-items-center" style="width: 50px; height: 50px;">
                                    <i class="bi bi-arrow-right"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            
            
        </div>
        
    </div>
    
</div>

<script>
    // for messaging NEEDS UPDATING
    function update_dashboard(data){
      session_id = data['session_id']
      console.log(session_id)
      image = document.getElementById(`${session_id},image`)
      if (data['image_data']) {
        image.src = `data:image/jpeg;base64,${data['image_data']}`
      }
      else{
        image.src = "static/assets/img/undraw_profile.svg"
      }
      notification = document.getElementById(`${session_id},notification`)
      if (notification == null){
        element = `<div class="rounded-circle bg-danger py-0 px-2 mr-2">
                      <span class="text-white" id="${session_id},notification">1</span>
                  </div>`
        document.getElementById('secondary_notification').insertAdjacentHTML('beforeend',element)
      }
      else{
        console.log(String(parseInt(notification.innerText)))
        notification.innerText = String(parseInt(notification.innerText) + 1)
      }

      document.getElementById(`${session_id},sender`).innerText = data['username']
      document.getElementById(`${session_id},message`).innerText = data['message']
    }



</script>

{% endblock %}